output/
*.pyc
__pycache__/
output/
*.pth
*.h5
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.lrz
*.tar.lrz
*.zip
data/datasets/**/*.jsonl
data/datasets/**/*.tsv
data/datasets/**/*.txt
*.zip
data/datasets/**/*.jsonl
data/datasets/**/*.tsv
data/datasets/**/*.txt
output/
*.zip
*.jsonl
*.tsv
*.txt
